* {
    margin: 0;
    padding: 0;
}
html {
    background: #ffffff;
    height: 100%;

}

body {
    min-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    

}


#main,
#header,
#logo,
#menubar,
#site_content,
#footer {
    margin-left: 0;
    margin-right:0;
}

#main {
    width: 100%;
}


#header {
    background: #ffffff;
    width: 100%;
    float: top;
    padding: 0 0 0 0px;
}

#header_logo {
    float: left;
}

#logo {
    height: 80px;
    width: 120px;
    margin-left: 20px;
}

#header_text {
    position: top;
    color: #01579B;
    display:inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 0.1em;
    margin-top: -17px;
    padding: 0px 0 0px 70px;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 70px;
    font-weight: bold;
}

#menubar {
    background: rgb(247, 47, 97);
    width: 90%;
    height: 40px;
    position: relative;
    z-index: 1;
    float: right;
    overflow: hidden;
}


ul#menu {
    float: left;
}

#menu li {
    float: left;
    margin: 0;
    padding: 0 0 10px 0px;
    list-style: none;
}

#menu li a {
    letter-spacing: 0;
    font: bold 110% Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    float: left;
    height: 20px;
    text-decoration: none;
    padding: 12px 50px 0px 50px;
    text-align: center;
    color: #ffffff;
    border: 0;
}

ul#menu li.selected a {
    height: 20px;
    color: rgb(12, 55, 175);
    padding: 10px 50px 30px 50px;
    font: bold 110% Verdana, Geneva, sans-serif;
}

ul#menu li.selected {
    background: #ffffff;
}

ul#menu li a:hover {
    color: #888;
}

#content {
    width: 95%;
    background: #ffffff;
    overflow: hidden;
    letter-spacing: 0.7px;
    text-align: justify;
    float: right;
    line-height: 1.7;
    padding: 150px 100px 0 70px;
    font-size: 110%;
}


#discussion {
    width: 95%;
    background: #ffffff;
    overflow: hidden;
    letter-spacing: 0.7px;
    text-align: justify;
    float: right;
    line-height: 1.6;
    padding: 150px 100px 0 80px;
    font-size: 120%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.filter_class {
    line-height: 1.0;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 0 10px 0px;

}
.chart_class {
    width: 100%;
    height: 600px;
    padding: 5px 0px 0px 0px;
}




table {
    width: 50%;
    white-space: nowrap;
    border: none;
}


#fixed-header {
    width: 100%;
    position: fixed;
    z-index: 1;
}






 
 